/*
Colors used:
Primary (red):#F06B52
Secondary (dark blue):#252847
Secondary (yellow): #FFD984
Secondary: (light blue):#7DB8C4
*/

* {
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  box-shadow: 2px 2px 4px 0px rgba(20, 29, 22, 0.49);
  width: 100%;
  position: fixed;
  display: inline-block;
}

.logo {
  max-width: 50px;
}

main {
  padding-top: 133px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #252847;
  text-decoration: none;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f06b52;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #252847;
}

.section {
  padding: 10px 15px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2b2b2b;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.55em;
  font-weight: 700;
}

h2 {
  font-size: 2.0em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f06b52;
}

a:visited {
  color: #252847;
}

a:active {
  color: #7DB8C4;
}

.button.project {
  display: inline-block;
  background-color: #f06b52;
  color: #ffffff;
  font-weight: 400;
  padding: 8px;
  border-radius: 2px;
  border-bottom: 2px solid #f06b52;
  margin-bottom: 20px;
  transition: 1s opacity;
}

.button.project:hover {
  background-color: #f06b52;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.button.email {
  background-color: transparent;
  color: #f06b52;
  font-weight: 400;
  padding: 8px;
  border-radius: 2px;
  border: 2px solid #f06b52;
}

.button.email:hover {
  background-color: #f06b52;
  color: #ffffff;
  text-decoration: none;
}

.row {
  margin: 20px 0;
}

.hero {
  text-align: center;
  background-color: #7DB8C4;
  color: white;
  padding: 10px 10px 15px 10px;
  display: inline-block;
  width: 100%;
}

#skills h3 {
  margin: 5px;
}

/* footer */
#email {
  margin: 20px 0;
}

.information {
  text-align: center;
  background: #FFD984;
  padding: 10px 22px;
  width: 100%;
  display: inline-block;
}

#copyright {
  font-size: 12px;
}

/* budgetsy */
#title {
  background: #47a7a0;
  padding: 60px 20px;
  text-align: center;
  color: white;
}

#title h1 {
  font-weight: 400;
}

.screeninfo {
  margin-bottom: 45px;
}

.screeninfo span {
  font-weight: bold;
}

.user span {
  font-size: 3.55em;
  text-align: center;
}

.user {
  text-align: center;
  padding: 0 35px;
}

/* animation CSS */

#animate {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 10s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 15s cloud-move-reverse infinite alternate linear;
}

/* Medium Devices */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    padding: 40px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*=col-] {
    float: left;
    padding: 0 10px;
  }

  .information {
    padding: 20px 100px;
  }

  .navbar {
    margin: 5px 20px;
  }

  #about-title h1{
    margin: 0 10px;
  }
}

/* Large Devices */
@media only screen and (min-width: 1024px) {
  .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #skills-title {
    text-align: left;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .navbar {
    margin: 5px 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column {
    margin: 20px 0;
  }

  #about-title h1{
    margin: 15px 0 1px 10px;
  }

}

/* XL Devices */
@media only screen and (min-width: 1440px) {
  .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
